<footer>
    <div class="f-icons">
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-twitter"></i>
        <i class="fa-brands fa-square-facebook"></i>
    </div>
    <div class="f-brand">
        <span>&#169;WanderMate private limeted</span>
    </div>
</footer>